.main{
    height: 100vh;
    width: 100vw;
    max-height: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #ffffff;
    color:black;
    overflow-y: auto;
}

.Content{
    margin-top: 80px;
}