.toolbar {
    display: flex;  /* fit into one line */
    height: auto;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: black;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1000;
  }
  
  .logo a {
    color: #DDA0DD;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Verdana', monospace;
  }
  
  .navItems {
    display: flex;
    gap: 15px;
  }
  
  .button {
    padding: 5px 15px;
    border: 2px solid #3b4552;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #2a3139;
    transition: background-color 0.3s, border-color 0.3s;
    font-family: 'Comic Sans MS', cursive;
    font-size: 15px;
  }

  .button2 {
    padding: 5px 15px;
    border: 1px solid #EE82EE;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: #DDA0DD;
    transition: background-color 0.3s, border-color 0.3s;
    font-family: 'Comic Sans MS', cursive;
    font-size: 15px;
  }
  
  .button:hover {
    background-color: #3b4552;
    border-color: #4a5568;
  }
  